body {
    margin: 0;
    height: 100vh;
    display: -webkit-box;
    display: -webkit-flex;
    display: -moz-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -webkit-align-items: center;
       -moz-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-pack: center;
    -webkit-justify-content: center;
       -moz-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    background-color: black;
    overflow: hidden;
}

.container {
    font-size: 10px;
    width: 40em;
    height: 40em;
    position: relative;
}

.sun {
    position: absolute;
    top: 15em;
    left: 15em;
    width: 10em;
    height: 10em;
    background-color: yellow;
    -webkit-border-radius: 50%;
       -moz-border-radius: 50%;
            border-radius: 50%;
    -webkit-box-shadow: 0 0 3em white;
       -moz-box-shadow: 0 0 3em white;
            box-shadow: 0 0 3em white;
}

.earth,
.moon,
.mars {
    position: absolute;
    border-style: solid;
    border-color: white transparent transparent transparent;
    border-width: 0.1em 0.1em 0 0;
    -webkit-border-radius: 50%;
       -moz-border-radius: 50%;
            border-radius: 50%;
}

.earth {
    top: 4em;
    left: 4em;
    width: 32em;
    height: 32em;
    -webkit-animation: orbit 36.5s linear infinite;
       -moz-animation: orbit 36.5s linear infinite;
         -o-animation: orbit 36.5s linear infinite;
            animation: orbit 36.5s linear infinite;
}

.moon {
    top: 0;
    right: 0;
    width: 8em;
    height: 8em;
    -webkit-animation: orbit 2.7s linear infinite;
       -moz-animation: orbit 2.7s linear infinite;
         -o-animation: orbit 2.7s linear infinite;
            animation: orbit 2.7s linear infinite;
}

.mars {
    top: 11em;
    left: 11em;
    width: 18em;
    height: 18em;
    -webkit-animation: orbit 68.7s linear infinite;
       -moz-animation: orbit 68.7s linear infinite;
         -o-animation: orbit 68.7s linear infinite;
            animation: orbit 68.7s linear infinite;
}

.earth::before,
.moon::before,
.mars::before {
    content: '';
    position: absolute;
    -webkit-border-radius: 50%;
       -moz-border-radius: 50%;
            border-radius: 50%;
}

.earth::before {
    top: 2.8em;
    right: 2.8em;
    width: 3em;
    height: 3em;
    background-color: aqua;
}

.moon::before {
    top: 0.8em;
    right: 0.2em;
    width: 1.2em;
    height: 1.2em;
    background-color: silver;
}

.mars::before {
    top: 1.5em;
    right: 1.5em;
    width: 2em;
    height: 2em;
    background-color: red;
}

@-webkit-keyframes orbit {
    to {
        -webkit-transform: rotate(360deg);
                transform: rotate(360deg);
    }
}

@-moz-keyframes orbit {
    to {
        -moz-transform: rotate(360deg);
             transform: rotate(360deg);
    }
}

@-o-keyframes orbit {
    to {
        -o-transform: rotate(360deg);
           transform: rotate(360deg);
    }
}

@keyframes orbit {
    to {
        -webkit-transform: rotate(360deg);
           -moz-transform: rotate(360deg);
             -o-transform: rotate(360deg);
                transform: rotate(360deg);
    }
}

.star {
    position: absolute;
    background-color: white;
    -webkit-border-radius: 50%;
       -moz-border-radius: 50%;
            border-radius: 50%;
}

.planet-name {
    display: none;
    position: absolute;
    color: white;
    font-size: 1.2em;
}

.sun:hover::after,
.earth:hover::after,
.moon:hover::after,
.mars:hover::after {
    content: attr(data-name);
    position: absolute;
    color: white;
    font-size: 1.2em;
    top: -1.5em;
    /* change bottom to top and adjust the value */
    left: 50%;
    -webkit-transform: translateX(-50%);
       -moz-transform: translateX(-50%);
        -ms-transform: translateX(-50%);
         -o-transform: translateX(-50%);
            transform: translateX(-50%);
}